# Clean Data
In this notebook, we'll take the raw data and reorganize them so that we can use them for visualization and a predictive model. These are the files we will be working with:
```
incidents.csv                 List of gun violence incidents from January 2014 - March 2018
population.csv                Population from 2000 - 2017 intercensal estimates for July
other_crime_annual.csv        Annual sums of crimes by state from 2010 - 2016
income.csv                    Annual average personal income by state from 2009-2017         
annual_gun_deaths.csv         Annual deaths by guns (homicides only) by state from 1999-2013
alcohol.csv                   Annual alcohol consumption by state from 1977-2016
provisions.csv                List of provisions in place by each state for the years 1991-2017
election_results.csv          List of presidential election results by state from years 2000-2016
```
For more information on where these datasets came from, see the writeup. Our goal is to make several DataFrames which will be used later.

One is an overall DataFrame with statistics aggregated annually. This DataFrame will have entries from 2010-2016. This will be used for visualization.

Another is a feature DataFrame with monthly gun homicides from 2014-2017, each entry coupled with annual statistics from the previous year. This will be used later to make a model to predict gun violence trends.

In [1]:
# Numpy and pandas for manipulating the data
import numpy as np
import pandas as pd

In [2]:
daily_incidents_file = './data/raw/incidents.csv.gz' # zipped because file is too big
population_file = './data/raw/population.csv'
crime_file = './data/raw/other_crime_annual.csv'
income_file = './data/raw/income.csv'
annual_file = './data/raw/annual_gun_deaths.csv'
alcohol_file = './data/raw/alcohol.csv'
provisions_file = './data/raw/provisions.csv'
election_file = './data/raw/election_results.csv'

daily_incidents_df = pd.read_csv(daily_incidents_file, parse_dates=True, compression='gzip')
population_df = pd.read_csv(population_file, parse_dates=True, index_col=0)
annual_gun_deaths_df = pd.read_csv(annual_file, parse_dates=True)
crime_df = pd.read_csv(crime_file, parse_dates=True)
income_df = pd.read_csv(income_file, parse_dates=True)
alcohol_df = pd.read_csv(alcohol_file, parse_dates=True)
provisions_df = pd.read_csv(provisions_file, parse_dates=True)
election_df = pd.read_csv(election_file)

## Incidents File
### daily_incidents_df and population_df
Goals: 

    lat_long_df         Incidents with latitude and longitude coordinates (2014-2017)
    feature_df          Daily incidents per state, each with features from the previous year (2014-2017)
    by_date_total_df    Daily gun homicides per state indexed by date with states in columns
    by_date_norm_df     Same as by_date_total_df but normalized by population (gun homicides / 100000 people)

In [3]:
null_count = daily_incidents_df.isnull().sum()
null_count.sort_values()

incident_id                         0
date                                0
state                               0
city_or_county                      0
n_killed                            0
n_injured                           0
incident_url                        0
incident_url_fields_missing         0
incident_characteristics          327
source_url                        468
sources                           610
longitude                        7923
latitude                         7923
congressional_district          11945
address                         16497
participant_type                24864
participant_status              27627
state_senate_district           32336
participant_gender              36363
state_house_district            38773
participant_age_group           42120
notes                           81018
participant_age                 92299
n_guns_involved                 99452
gun_type                        99452
gun_stolen                      99499
participant_name               122254
location_description           197589
participant_relationship       223904
dtype: int64

There seems to be many missing values about the details of each incident. However, the 'state' and 'date' columns have no missing values, which is good for our objective (examining gun violence trends for each state).

In [4]:
# First let's make some columns that we'll need
daily_incidents_df['date'] = pd.to_datetime(daily_incidents_df['date']) # Turn the date into a datetime
daily_incidents_df['year'] = daily_incidents_df['date'].dt.year # Create a column for just the year

# Upon examining the data, it seems that records before 2014 have missing data, so we'll exclude them
daily_incidents_df = daily_incidents_df[daily_incidents_df['year'] >= 2014]

# Get number of casualties for each state, indexed by date
by_date_total_df = daily_incidents_df.groupby(['date', 'state'])['n_killed'].sum().unstack()
by_date_total_df = by_date_total_df.fillna(0) # Some days had no incidents (no entries). Fill with 0s

# Now we should normalize the number of casualties by state population. 
# We use population_df: data from US Census Bureau

# Transform on a resampled column: get population in that year from population_df
# multiply by 100,000 to get number of casualties per 100,000 people
def normalize_population(x):
    state_name = x.name
    year = str(x.index.year[0])
    population = population_df.loc[state_name, year]
    return x * 100000 / population

by_date_norm_df = by_date_total_df['2014':'2017'].resample('A').transform(normalize_population)
by_date_norm_df.head()

by_date_total_df.to_csv('./data/cleaned/by_date_total.csv')
by_date_norm_df.to_csv('./data/cleaned/by_date_norm.csv')

In [5]:
# Get latitude and longitude information and save it
lat_long_df = daily_incidents_df[['state', 'latitude', 'longitude', 'n_killed']].dropna()
lat_long_df.to_csv('./data/cleaned/lat_long.csv')

In [6]:
# Create a feature DataFrame to store all of our features (to be used later in our model)
feature_df = by_date_total_df.resample('M').sum().stack().reset_index()
feature_df.columns = ['next_date', 'state', 'next_deaths']
# Get the number of casualties normalized by population
# Next year (the year which we want to predict n_casualties)
feature_df['next_year'] = feature_df['next_date'].apply(lambda x: x.year)
feature_df['this_year'] = feature_df['next_year'] - 1
feature_df['population'] = feature_df[['state', 'this_year']]\
                            .apply(lambda x: population_df.loc[x['state'], str(x['this_year'])], axis=1)
    
# Reformat population data
population_df = population_df.stack().reset_index()
population_df.columns = ['state', 'year', 'population']
population_df['year'] = population_df['year'].astype(int)

# Clean annual_gun_deaths_df so we have observations in each row; note this has data from 1999-2013
annual_1999_2013_df = annual_gun_deaths_df.set_index('state').stack().reset_index()
annual_1999_2013_df.columns = ['state', 'year', 'gun_deaths']

# Sum incidents annually and make each row an observation w/ state, year, and number of incidents 
annual_2014_2017 = by_date_total_df[:'2017'].resample('A').sum().stack().reset_index()
annual_2014_2017['date'] = annual_2014_2017['date'].apply(lambda x: x.year)

# Rearrange columns and concat the dataframes
annual_2014_2017.columns = ['year', 'state', 'gun_deaths']
annual_2014_2017 = annual_2014_2017[['state', 'year', 'gun_deaths']]

# Note: later, we lose year 1999 when we merge with population since population_df goes from 2000-2017 only
annual_2000_2017_df = pd.concat([annual_1999_2013_df, annual_2014_2017])
annual_2000_2017_df['year'] = annual_2000_2017_df['year'].astype(int)

# Add population data to annual_2000_2017
annual_2000_2017_df = pd.merge(annual_2000_2017_df, population_df)
annual_2000_2017_df = annual_2000_2017_df.sort_values(['state', 'year'])

# Create a DataFrame that will hold all features aggregated annually from 2010-2016.
overall_2010_2016_df = pd.merge(annual_2000_2017_df, population_df).sort_values(['state','year'])

## Other Crime
We'll be working with this data:
    
    crime_df                 Annual crime data (2010-2016) from disastercenter.com/crime/  
    annual_gun_deaths_df     Annual gun homicides by state (1999-2013) from gunpolicy.org
And creating/updating these DataFrames:

    overall_2010_2016_df     DataFrame to hold annual statistics from 2010-2016 to be plotted later
    annual_2000_2017_df      DataFrame that holds annual gun death info from 2000-2017
    feature_df               Update with crime features

In [7]:
# Note: other_crime here is defined by crimes not including murder
crime_df['other_crime'] = crime_df[['rape_crime', 'robbery_crime', 'assault_crime', 
                                'burglary_crime', 'larceny_theft_crime', 'vehicle_theft_crime']].sum(axis=1)
crime_df = crime_df.drop(['population', 'index'], axis=1)
crime_df['year'] = crime_df['year'].astype(int)

overall_2010_2016_df = pd.merge(overall_2010_2016_df, crime_df)

# Let's update our feature dataframe with the crime rate
feature_df = pd.merge(feature_df, crime_df, left_on=['state','this_year'], right_on=['state', 'year'])
feature_df = feature_df.drop('year', axis=1)

In [14]:
crime_df

,state,year,violent_crime,property_crime,murder_crime,rape_crime,robbery_crime,assault_crime,burglary_crime,larceny_theft_crime,vehicle_theft_crime,other_crime
0,Alaska,2016,4537,20259,31,533,594,3379,3105,15535,1619,24765
1,Alaska,2015,4416,19094,30,436,576,3374,2852,14854,1388,23480
2,Alaska,2014,4412,20037,30,583,630,3169,2950,15565,1522,24419
3,Alaska,2013,4709,21211,34,657,623,3127,2917,16599,1695,25618
4,Alaska,2012,4684,20334,41,553,629,3243,3150,15445,1739,24759
5,Alaska,2011,5391,20806,59,648,761,3671,3511,15249,2046,25886
6,Alaska,2010,5966,24876,52,757,850,4011,4053,17766,3057,30494
7,Alabama,2016,18363,168828,275,1355,4864,11869,42484,115564,10780,186916
8,Alabama,2015,20166,173192,299,1370,4906,13591,51119,111411,10662,193059
9,Alabama,2014,21693,168878,342,1296,5020,15035,47481,111523,9874,190229
10,Alabama,2013,20834,161835,346,1449,4645,13788,42410,108862,10563,181717
11,Alabama,2012,20727,154087,276,1425,4702,13744,39723,104223,10141,173958
12,Alabama,2011,22957,144785,348,1449,4612,15960,35265,99182,10338,166806
13,Alabama,2010,25886,143362,407,1385,4686,18877,34065,97574,11723,168310
14,Arizona,2016,26528,226802,408,2191,6953,16976,50932,154137,21733,252922
15,Arizona,2015,26789,229896,397,2499,7145,16748,54695,155400,19801,256288
16,Arizona,2014,28077,231701,358,2282,7383,18054,52911,159808,18982,259420
17,Arizona,2013,27576,223294,355,2344,6656,17391,48292,158036,16966,249685
18,Arizona,2012,26422,213406,311,2356,6225,16614,43412,152683,17311,238601
19,Arizona,2011,27968,207184,306,2268,6360,18193,38010,152388,16786,234005
20,Arizona,2010,32583,206432,380,2452,7055,21858,37736,150275,18421,237797
21,Arkansas,2016,14711,103820,134,1321,2369,10887,32463,65796,5561,118397
22,Arkansas,2015,14173,110430,160,1230,2357,10426,34016,70645,5769,124443
23,Arkansas,2014,13851,109389,174,1233,2310,10134,32673,70982,5734,123066
24,Arkansas,2013,13705,106477,158,1135,2261,9796,30369,70430,5678,119669
25,Arkansas,2012,14248,99452,175,1291,2037,10220,24816,69001,5635,113000
26,Arkansas,2011,15769,97391,189,1425,2117,11455,22851,68720,5820,112388
27,Arkansas,2010,16461,97673,216,1545,2120,11982,23771,66747,7155,113320
28,California,2016,164133,981939,1809,8331,58116,95877,228857,600558,152524,1144263
29,California,2015,154943,973822,1792,7665,54291,91195,230075,596905,146842,1126973
...,...,...,...,...,...,...,...,...,...,...,...,...
327,Virginia,2011,16705,157803,390,1767,4459,9357,21542,128064,8197,173386
328,Virginia,2010,18302,156412,484,1965,4803,10278,20018,126606,9788,173458
329,Washington,2016,21138,249426,154,2579,5929,12476,55192,168490,25744,270410
330,Washington,2015,20152,244209,163,2320,5627,12042,56561,162828,24820,264198
331,Washington,2014,20553,254377,217,2250,5801,12285,61376,166338,26663,274713
332,Washington,2013,20223,259139,167,2072,5829,11623,58487,172227,28425,278663
333,Washington,2012,20185,261257,178,1999,5641,11586,55381,175317,30559,280483
334,Washington,2011,20505,249474,218,2006,5450,12059,51114,171393,26967,268989
335,Washington,2010,22023,254653,195,2259,5651,13100,49180,173187,32286,275663
336,West Virginia,2016,5586,41301,58,362,776,4390,10778,28104,2419,46829
337,West Virginia,2015,5497,39009,87,372,802,4236,10245,26656,2108,44419
338,West Virginia,2014,5943,44500,70,415,835,4623,11466,30800,2234,50373
339,West Virginia,2013,5657,39929,62,367,653,4242,9908,28055,1966,45191
340,West Virginia,2012,5850,38282,84,417,655,4517,9368,26954,1960,43871
341,West Virginia,2011,6397,38694,85,493,783,4819,9467,26984,2243,44789
342,West Virginia,2010,6557,37487,81,468,720,5099,9301,25677,2509,43774
343,Wisconsin,2016,14167,142781,155,1191,4516,8305,26636,107993,8152,156793
344,Wisconsin,2015,14268,139912,138,1190,4600,8340,27167,104472,8273,154042
345,Wisconsin,2014,16254,140780,169,1228,4692,10165,27931,104619,8230,156865
346,Wisconsin,2013,16118,125694,163,1308,4834,9285,24358,93946,7390,141121
347,Wisconsin,2012,16763,120535,159,1216,5101,9826,21375,89255,9905,136678
348,Wisconsin,2011,17549,114171,240,1324,5234,10270,19602,83572,10997,130999
349,Wisconsin,2010,17679,111720,229,1458,4706,10765,19425,82337,9958,128649
350,Wyoming,2016,1117,13869,8,162,77,870,2151,11126,592,14978
351,Wyoming,2015,1245,12878,18,146,71,1010,1864,10493,521,14105
352,Wyoming,2014,1161,13222,14,154,61,932,2125,10513,584,14369
353,Wyoming,2013,1212,12809,17,144,74,917,1956,10275,578,13944
354,Wyoming,2012,1142,11477,16,127,53,899,1689,9185,603,12556
355,Wyoming,2011,1300,11151,16,124,59,1054,1762,8797,592,12388
356,Wyoming,2010,1430,11460,20,150,59,1146,1771,8889,800,12815

## Personal Income
We'll be working with this data:
    
    income_df               Personal income per capita (2009-2017) from US Bureau of Economic Analysis
Goals:
    
    overall_2010_2016_df    Update with personal income per capita
    feature_df              Update with personal income per capita

In [8]:
# Add income data
income_by_state_df = income_df.set_index('state').stack().reset_index()
income_by_state_df.columns = ['state', 'year', 'income']
income_by_state_df['year'] = income_by_state_df['year'].astype(int)

overall_2010_2016_df = pd.merge(overall_2010_2016_df, income_by_state_df)
feature_df = pd.merge(feature_df, income_by_state_df, left_on=['state', 'this_year'], right_on=['state', 'year'])
feature_df = feature_df.drop('year', axis=1)

## Alcohol
### alcohol_df
Goals:

    overall_2010_2016_df    update with avg total alcohol consumption 
    feature_df              update with all alcohol features

In [9]:
# Merge the alcohol features into the overall and feature data frames
overall_2010_2016_df = pd.merge(overall_2010_2016_df, alcohol_df)
feature_df = pd.merge(feature_df, alcohol_df, left_on=['state', 'this_year'], right_on=['state', 'year'])
feature_df = feature_df.drop('year', axis=1)

## Provisions
### provisions_df
Goals:
    
    overall_2010_2016_df     update with total provision count
    feature_df               update with all provisions

In [10]:
# Update the overall_2010_2016_df with the total provisions
overall_2010_2016_df = pd.merge(overall_2010_2016_df, provisions_df)

# Update the feature_df with all of the provisions
feature_df = pd.merge(feature_df, provisions_df, left_on=['state', 'this_year'], right_on=['state', 'year'])
feature_df = feature_df = feature_df.drop('year', axis=1)

## Election Results
### election_df
Goals:

    annual_2000_2017_df      Update with election results
    overall_2010_2016_df     Update with election results
    feature_df               Update with election results from previous year

In [11]:
# For simplicity, let's expand the election_df s.t. it has entries for non-election years with values
# from the previous election. This way, we can just merge them with the other dfs later
election_expand = []
for i in range(4):
    temp_df = election_df.copy()
    temp_df['year'] = election_df['year'] + i
    election_expand.append(temp_df)

election_df = pd.concat(election_expand)

# Update each of the dataframes with the election information
annual_2000_2017_df = pd.merge(annual_2000_2017_df, election_df)

overall_2010_2016_df = pd.merge(overall_2010_2016_df, election_df)

feature_df = pd.merge(feature_df, election_df, left_on=['state', 'this_year'], right_on=['state', 'year'])
feature_df = feature_df.drop('year', axis=1)

In [12]:
# Add features normalized by population to the annual and overall dataframes
overall_population = overall_2010_2016_df['population']
overall_2010_2016_df['gun_deaths_norm'] = overall_2010_2016_df['gun_deaths'] / overall_population * 100000
overall_2010_2016_df['other_crime_norm'] = overall_2010_2016_df['other_crime'] / overall_population * 100000

annual_population = annual_2000_2017_df['population']
annual_2000_2017_df['gun_deaths_norm'] = annual_2000_2017_df['gun_deaths'] / annual_population * 100000

In [13]:
# Save annual, overall and feature DataFrames
annual_2000_2017_df.to_csv('./data/cleaned/annual_gun.csv')
overall_2010_2016_df.to_csv('./data/cleaned/overall.csv')
feature_df.to_csv('./data/cleaned/feature.csv')

To recap, here are the DataFrames that were saved:

    lat_long_df                Incidents with latitude and longitude coordinates (2014-2017)
    by_date_tot_df             Gun homicides aggregated daily and by state (2014-2017)
    by_date_norm_df            Same as by_date_tot_df, but normalized by state population
    annual_2000_2017           Annual gun homicides with population info(2000-2017)
    overall_2010_2016_df       Annual features from (2010-2016)
    feature_df                 Gun homicides aggregated monthly and by state, paired with annual features from
                               the previous year (2014-2017)